<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
    <table border="1">
       
        <tr>
            <th>rid</th>
            <th>capacity</th>
            <th>availability</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>
            <div class="dropdown">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{{url_for('checkout',rid=i[0])}}">checkout</a>
                </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    </form>
</body>
</html>